# VacationPy
----

#### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key
gmaps.configure(api_key='AIzaSyBzO62otyOSbuQwpuAK_DAenxBYrI4JTDM')

city_data = "city_data.csv"

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
city_data = pd.read_csv(city_data)
city_data

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,Ilulissat,75,GL,1587663475,86,69.22,-51.10,30.18,3.10
1,Ushuaia,75,AR,1587662862,75,-54.80,-68.30,44.58,10.80
2,Savonlinna,100,FI,1587663475,41,61.87,28.88,40.98,3.10
3,Krasnokamensk,71,RU,1587663475,57,50.10,118.04,37.87,5.22
4,Mataura,38,NZ,1587662957,85,-46.19,168.86,50.99,2.24
...,...,...,...,...,...,...,...,...,...
406,Brisbane,92,RU,1587663666,98,66.77,123.37,27.17,2.95
407,Cap malheureux,36,TD,1587663667,9,13.64,16.49,91.36,2.97
408,Solvychegodsk,13,ES,1587663453,76,43.48,-8.24,59.99,4.60
409,Klyuchi,0,LY,1587663667,21,29.16,16.14,77.30,6.92
410,Lasa,90,UY,1587663667,73,-34.67,-54.92,73.97,3.10

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
locations = city_data[['Lat', 'Lng']].astype(float)
humidity = city_data["Humidity"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=100,
                                 point_radius = 1)

fig.add_layer(heat_layer)

fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [4]:
narrowed_city_df = city_data.loc[(city_data['Max Temp'] >= 70) & (city_data['Max Temp'] <= 80) & (city_data['Wind Speed'] < 10) & (city_data['Cloudiness'] == 0)]
narrowed_city_df

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
32,Cortez,0,BR,1587662981,69,-30.18,-50.21,73.06,4.82
92,Shenkursk,0,BR,1587662961,23,-24.79,-50.01,73.56,1.59
109,Bosaso,0,DE,1587663506,20,50.17,8.57,73.38,2.60
190,Kahului,0,SA,1587663606,66,25.02,37.27,78.51,1.60
191,Solnechnyy,0,FR,1587663309,32,50.10,1.83,72.98,2.47
285,Aranos,0,AO,1587663634,71,-15.20,12.15,76.64,4.68
353,Antofagasta,0,NaN,1587663650,24,-17.78,15.68,75.02,3.45
373,Kamennogorsk,0,AU,1587663657,88,-24.87,113.63,71.58,4.10
409,Klyuchi,0,LY,1587663667,21,29.16,16.14,77.30,6.92

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# params dictionary to update each iteration
hotel_df = narrowed_city_df
params = {
    "radius": 5000,
    "types": "hotel",
    "key": 'AIzaSyBzO62otyOSbuQwpuAK_DAenxBYrI4JTDM'
}

# Use the lat/lng we recovered to identify airports
for index, row in hotel_df.iterrows():
    # get lat, lng from df
    lat = row["Lat"]
    lng = row["Lng"]

    # change location each iteration while leaving original params in place
    params["location"] = f"{lat},{lng}"

    # Use the search term: "International Airport" and our lat/lng
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # make request and print url
    name_address = requests.get(base_url, params=params)
    
#     print the name_address url, avoid doing for public github repos in order to avoid exposing key
#     print(name_address.url)

    # convert to json
    name_address = name_address.json()
    # print(json.dumps(name_address, indent=4, sort_keys=True))

    # Since some data may be missing we incorporate a try-except to skip any that are missing a data point.
    hotel_df.loc[index, "Hotel Name"] = name_address["results"][0]["name"]
hotel_df

/Users/joemiller/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:844: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
/Users/joemiller/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:965: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
32,Cortez,0,BR,1587662981,69,-30.18,-50.21,73.06,4.82,CIDREIRA
92,Shenkursk,0,BR,1587662961,23,-24.79,-50.01,73.56,1.59,Castro
109,Bosaso,0,DE,1587663506,20,50.17,8.57,73.38,2.60,Frankfurt
190,Kahului,0,SA,1587663606,66,25.02,37.27,78.51,1.60,Umluj
191,Solnechnyy,0,FR,1587663309,32,50.10,1.83,72.98,2.47,Abbeville
285,Aranos,0,AO,1587663634,71,-15.20,12.15,76.64,4.68,Namibe
353,Antofagasta,0,NaN,1587663650,24,-17.78,15.68,75.02,3.45,Oshakati
373,Kamennogorsk,0,AU,1587663657,88,-24.87,113.63,71.58,4.10,Carnarvon
409,Klyuchi,0,LY,1587663667,21,29.16,16.14,77.30,6.92,Waddan

In [10]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
# info_box_template = """
# <dl>
# <dt>Name</dt><dd>{Hotel Name}</dd>
# <dt>City</dt><dd>{City}</dd>
# <dt>Country</dt><dd>{Country}</dd>
# </dl>
# """
# # Store the DataFrame Row
# # NOTE: be sure to update with your DataFrame name
# hotel_info = [info_box_template.format(**row) for index, row in narrowed_city_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]
print(hotel_df)

             City  Cloudiness Country        Date  Humidity    Lat     Lng  \
32         Cortez           0      BR  1587662981        69 -30.18  -50.21
92      Shenkursk           0      BR  1587662961        23 -24.79  -50.01
109        Bosaso           0      DE  1587663506        20  50.17    8.57
190       Kahului           0      SA  1587663606        66  25.02   37.27
191    Solnechnyy           0      FR  1587663309        32  50.10    1.83
285        Aranos           0      AO  1587663634        71 -15.20   12.15
353   Antofagasta           0     NaN  1587663650        24 -17.78   15.68
373  Kamennogorsk           0      AU  1587663657        88 -24.87  113.63
409       Klyuchi           0      LY  1587663667        21  29.16   16.14

     Max Temp  Wind Speed Hotel Name
32      73.06        4.82   CIDREIRA
92      73.56        1.59     Castro
109     73.38        2.60  Frankfurt
190     78.51        1.60      Umluj
191     72.98        2.47  Abbeville
285     76.64        4.68     Namibe
353     75.02        3.45   Oshakati
373     71.58        4.10  Carnarvon
409     77.30        6.92     Waddan

In [19]:
# Add marker layer ontop of heat map
cities = narrowed_city_df["City"].tolist()
countries = narrowed_city_df["Country"].tolist()
hotels = narrowed_city_df["Hotel Name"].tolist()
print(locations)
fig = gmaps.figure()
markers = gmaps.marker_layer(locations,
    info_box_content=[f"Hotel: {item}" for item in hotels])
fig.add_layer(markers)
fig

# Display Map

       Lat     Lng
32  -30.18  -50.21
92  -24.79  -50.01
109  50.17    8.57
190  25.02   37.27
191  50.10    1.83
285 -15.20   12.15
353 -17.78   15.68
373 -24.87  113.63
409  29.16   16.14

Figure(layout=FigureLayout(height='420px'))